<p><%= @user.first_name.present? ? "Hi #{@user.first_name}" : 'Hi there' %>,</p>
<p>I'm Talha Masood, founder of Founding Dev.</p>
<p>
  GoSign is part of our mission to help companies replace expensive, bloated SaaS with tools they actually own.<br>
  Simple. Secure. Fairly priced.
</p>
<p>
  If you're curious about the bigger vision, you can learn more here:
  <%= link_to 'Founding.dev', 'https://founding.dev/?utm_source=gosign&utm_medium=email&utm_campaign=welcome&utm_content=founder_note' %>
</p>
<p>If you need anything, just reply — I read my messages every day.</p>
<p>
  Talha Masood<br>
  <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/talha-masood-a347a069/' %>
</p>
