
<div class="w-full h-screen flex flex-col">
  <p class="text-center font-bold text-2xl py-6">Schedule a time to discuss your self-hosting options.</p>
  <iframe src="https://kalendar.work/talha/know-founding-dev" title="Schedule a meeting with Founding.dev" class="w-full flex-1 border-0" allow="camera; microphone; fullscreen; display-capture; autoplay"></iframe>
</div>
