<div id="flash" class="fixed bottom-4 left-4 right-4 sm:left-auto sm:right-5 z-50 sm:w-96">
  <div class="px-4 py-3 rounded-lg bg-base-200 shadow-xl border border-base-300 flex items-center justify-between">
    <div class="flex items-center space-x-3">
      <% if flash[:notice] %>
        <%= svg_icon('info_circle', class: 'stroke-info flex-none w-6 h-6') %>
      <% else %>
        <%= svg_icon('exclamation_circle', class: 'stroke-error flex-none w-6 h-6') %>
      <% end %>
      <div>
        <span class="text-sm font-medium"><%= flash[:notice] || flash[:alert] %></span>
      </div>
    </div>
    <remove-on-event data-event-type="click" data-selector-id="flash" class="ml-4 cursor-pointer text-base-content/50 hover:text-base-content transition-colors">&times;</remove-on-event>
  </div>
</div>
